body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(133, 133, 133);
}

.body{
    border-radius: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.title{
    text-align: center;
    margin-bottom: 30px;
}

.navbar-right{
    display: flex;
    flex-direction: column;
}

.form-list-project{
    display: none;
}

.customize-row{
    border-top: 1px solid rgb(133, 133, 133);
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-add{
    font-size: 1.4rem;
    font-weight: 600;
}

.customize-row-member{
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 10px;
    padding-bottom: 10px;
}

.member{
    padding-top: 10px;
    padding-bottom: 10px;
}

.container{
    background-color: white;
}

.nav-item .nav-link{
    font-size: 1.2rem;
    font-weight: 600;
}

.table{
    font-size: 1rem !important;
}

.customize-alert{
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    animation: fadeIn ease-in-out 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fadeIn {
    from {
        opacity: 0.4;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}